<div class="pb-5 border-b border-gray-200">
  <h3 class="text-lg font-medium leading-6 text-gray-900">
    Union Hub
  </h3>
  <p class="max-w-4xl mt-2 text-sm text-gray-500">Here you can see the latest activity on your account and the union.</p>
</div>
