<% content_for :head do %>
  <meta property="og:title" content="Thank you for your support | Debt Collective" />
  <meta property="og:type" content="text/html" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= asset_url('logo-small.png') %>" />
<% end %>

<main id="thank-you">
  <section id="">
    <h1>Thank you for supporting the Debt Collective!</h1>
    <h4>Your monthly contribution helps us plan for the future.</h4>
        <p>If you know other who support this missing, please help us by spreading the word: https://debtcollective.org</p>
    <div class="subscription--plans">
      <%= link_to new_charge_path, class: "subscription--plan", id: "one-time-donation" do %>
        <h3>Other</h3>
        <h4>Pay what you can. Every dollar counts.</h4>
      <%end%>
    </div>
  </section>
</main>
