<div class="w-full flex flex-col sm:flex-row justify-between sm:justify-between sm:items-center">
  <p class="font-black text-gray-900 leading-loose" style="font-size:1.75rem">Your membership is</p>
  <div class="flex items-center justify-between w-full sm:w-1/2 sm:pl-2">
    <span class="sm:max-w-max inline-flex bg-transparent border-none underline hover:no-underline justify-center py-4 text-md sm:text-lg font-thin focus:outline-none">
      Inactive
    </span>
    <%= form_with(model: @membership, url: resume_membership_path, builder: ApplicationFormBuilder, local: true, class: 'flex justify-end') do |f| %>
      <%= f.submit 'Resume subscription',
        class: "btn-green inline-flex px-2 py-2 font-bold text-md ml-2 sm:max-w-max hover:bg-gray-900",
        data: { confirm: 'Are you sure?' }
      %>
    <% end %>
  </div>
</div>
