<div class="pb-5 border-b border-gray-200">
  <h2 class="text-xl font-medium leading-6 text-gray-900">
    Change your membership status
  </h2>
  <p class="max-w-4xl mt-2 text-gray-500 text-md">Here you can pause or cancel your membership</p>
</div>

<section aria-labelledby="membership_credit_card">
  <div class="mt-10">
    <div class="flex items-center justify-between">
      <div>
        <p class="text-lg">
          Pause your membership
        </p>
        <p>
          You won't be charged again until you resume your subscription.
        </p>
      </div>
      <div class="py-3 text-right sm:px-6">
        <%= form_with(model: @membership, url: pause_membership_path, builder: ApplicationFormBuilder, local: true) do |f| %>
          <%= f.submit 'Pause membership',
            class: "inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-gray-800 border border-transparent rounded-md shadow-sm hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900",
            data: { confirm: 'Are you sure?' }
          %>
        <% end %>
    </div>
  </div>
</section>
