<div class="membership-edit-amount mb-20">
  <div class="pb-5 border-b border-gray-200">
    <h3 class="font-black text-black text-4xl sm:text-5xl">
      Change membership amount
    </h3>
    <p class="max-w-2xl mt-2 text-2xl font-thin mt-4 mb-10 leading-normal">Here you can change your amount</p>
  </div>

  <!-- Membership -->
  <%= render 'edit_amount_form', membership: @membership %>
</div>
