<div class="pb-5 border-b border-gray-200">
  <h2 class="text-xl font-medium leading-6 text-gray-900">
    Change your membership status
  </h2>
  <p class="max-w-4xl mt-2 text-gray-500 text-md">Here you can pause or cancel your membership</p>
</div>
