<div class="edit-status mb-20">
  <div class="pb-5 border-b border-gray-200">
    <h3 class="font-black text-black text-4xl sm:text-5xl max-w-4xl">
      Change your membership status
    </h3>
    <p class="max-w-4xl mt-2 text-gray-500 text-md">Your membership is <%= @membership.status %></p>
  </div>

  <section aria-labelledby="membership_credit_card">
    <div class="mt-10">
      <div class="flex items-center justify-between">
        <% if @membership.paused? %>
          <%= render "resume_membership" %>
        <% else %>
          <%= render "pause_membership" %>
        <% end %>
    </div>
  </section>
</div>
