  <%= f.label name, class: "block text-sm font-medium text-gray-700" %>
  <div class="mt-1">
    <%= f.text_field name, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
  </div>
