---
http_interactions:
- request:
    method: put
    uri: https://us20.api.mailchimp.com/3.0/lists/ab12345ab6/members/cc580437dcf8d2ad667ccb8f4b416252
    body:
      encoding: UTF-8
      string: '{"email_address":"no-reply@debtcollective.org","status":"subscribed","ip_signup":"127.0.0.1","merge_fields":{"FNAME":"Orlando","LNAME":"Del
        Aguila","ADDRESS":{"addr1":"PO Box 593","city":"Canton","country":"US","state":"New
        York","zip":"13617-9998"},"PHONE":"+1 (603) 337-6816"}}'
    headers:
      Authorization:
      - Basic YXBpa2V5OmFhMTExMTExYzExZTAwMDAwMGUwYjExZDBkMGExMTExLXVzMjA=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us20.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us20.admin.mailchimp.com/lists/members/view?id=438031006>; rel="dashboard"
    body:
      encoding: UTF-8
      string: '{"id":"cc580437dcf8d2ad667ccb8f4b416252","email_address":"no-reply@debtcollective.org","unique_email_id":"4d053b75f2","web_id":438031006,"email_type":"html","status":"subscribed","merge_fields":{"FNAME":"Orlando","LNAME":"Del
        Aguila","ADDRESS":{"addr1":"PO Box 593","addr2":"","city":"Canton","state":"New
        York","zip":"13617-9998","country":"US"},"PHONE":"+1 (603) 337-6816","BIRTHDAY":""},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"189.203.97.85","timestamp_opt":"2021-03-31T21:12:59+00:00","member_rating":2,"last_changed":"2021-03-31T21:43:29+00:00","language":"","vip":false,"email_client":"Apple
        Mail","location":{"latitude":20.6,"longitude":-103.39,"gmtoff":0,"dstoff":0,"country_code":"MX","timezone":""},"source":"API
        - Generic","tags_count":1,"tags":[{"id":1617570,"name":"member"}],"list_id":"ab12345ab6","_links":[{"rel":"self","href":"https://us20.api.mailchimp.com/3.0/lists/ab12345ab6/members/cc580437dcf8d2ad667ccb8f4b416252","method":"GET","targetSchema":"https://us20.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us20.api.mailchimp.com/3.0/lists/ab12345ab6/members","method":"GET","targetSchema":"https://us20.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us20.api.mailchimp.com/schema/3.0/Paths/Lists/Members/Collection.json"},{"rel":"update","href":"https://us20.api.mailchimp.com/3.0/lists/ab12345ab6/members/cc580437dcf8d2ad667ccb8f4b416252","method":"PATCH","targetSchema":"https://us20.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json","schema":"https://us20.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"},{"rel":"upsert","href":"https://us20.api.mailchimp.com/3.0/lists/ab12345ab6/members/cc580437dc[...]
