.PhoneInput {
  .PhoneInputCountrySelect,
  .PhoneInputInput {
    width: 100%;
    background: rgba(91, 203, 181, 0.1);
    border: 1px solid #219653;
    box-sizing: border-box;
    border-radius: 6px;
    color: #000;
    padding: 0.5rem;
    &:focus {
      @apply ring-lilac border-lilac;
    }
  }
  .PhoneInputCountry,
  .PhoneInputInput {
    @media (min-width: 640px) {
      grid-column: span 3 / span 3;
    }
  }
  .PhoneInputCountryIconImg {
    height: 0;
  }
  .PhoneInputInput {
    padding-left: 0.5rem;
  }
}

.PhoneInput {
  @apply shadow-sm;
  .PhoneInputCountry {
    @apply inline-flex items-center sm:text-sm;
  }

  .PhoneInputCountrySelect {
    @apply sm:text-sm;
  }

  .PhoneInputCountryIcon,
  .PhoneInputCountrySelectArrow {
    @apply hidden;
  }

  .PhoneInputInput {
    @apply flex-1 block sm:text-sm;
  }
}

.PhoneInput.error {
  .PhoneInputCountry {
    @apply text-red-900 placeholder-red-300 border-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500;
  }

  .PhoneInputInput {
    @apply pr-10 text-red-900 placeholder-red-300 border-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500;
  }
}
