<section class="section-content">
  <p id="notice"><%= notice %></p>

  <%= react_component("UserShow", props: {user: @user, streak: @user.current_streak, subscription: @user.active_subscription}) %>
</section>
