<p id="notice"><%= notice %></p>

<% unless @user.subscription.nil?  %>
  You have been subscribed for <%= @user.current_streak %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
