<section class="section-content">
  <p id="notice"><%= notice %></p>

  <%= react_component("SubscriptionCancel", props: {
    user: @user,
    subscription: @subscription,
    activePlan: @subscription&.plan,
    isSubscriptionChanging: @is_subscription_changing
  }) %>
</section>
