@import './globals';

a.button,
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.4rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:disabled {
    color: white;
    background-color: gray;
    border-color: darkgrey;
    cursor: not-allowed;
  }

  &:not(:disabled).primary {
    color: white;
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 5%);
      border-color: darken($primary-color, 10%);
    }
  }

  &:not(:disabled).secondary {
    border-color: #212529;

    &:hover {
      background-color: rgba(#212529, 0.1);
    }
  }

  &.as-block {
    display: block;
    max-width: 40rem;
    width: 100%;
  }
}
