<div id="dc-header-container">
  <dc-header
    id="dc-header"
    community="<%= ENV['DISCOURSE_URL'] %>"
    homepage="<%= ENV['HOME_PAGE_URL'] %>"
    returnurl="<%= request.base_url %>">
  </dc-header>
</div>
