<div class="profile-container content mb-20">
  <div class="pb-5 border-b border-gray-200">
    <h3 class="font-black text-black text-6xl">
      My Profile
    </h3>
    <p class="max-w-2xl mt-2 text-xl sm:text-2xl font-thin mt-4 mb-10 leading-normal" style="color:#232323">Update your contact information here to make sure you get emails and calls from your union! Need further support? If you need additional assistance please <a href="https://debtcollective.org/contact-us/" class="email-link underline" style="color: #1e9981;">send us a message via our contact form.</a>
    </p>
  </div>

  <%= render 'form', user_profile: @user_profile %>
</div>
