<div class="pb-5 border-b border-gray-200">
  <h3 class="text-lg font-medium leading-6 text-gray-900">
    My Profile
  </h3>
  <p class="max-w-4xl mt-2 text-sm text-gray-500">Here you can change your profile</p>
</div>

<%= render 'form', user_profile: @user_profile %>
