<section class="section-content">
  <%= react_component("CurrentPlan", props: {user: @user, currentPlan: @user.active_subscription&.plan, pendingPlanChange: @pending_plan_change, plans: @plans}) %>
</section>
