.update-cc-modal {
  background-color: transparent;
  box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  .modal-inner {
    height: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    .close-button {
      // position: absolute;
      button {
        font-weight: 900;
      }
    }
  }
}
