<h1>Payment</h1>

<%= form_tag create_payment_method_path, id: "billing-create-payment-method" do  %>
  <%= link_to "Let's go", add_payment_method_path(user_id: @user.id), remote: true, class: "btn btn-primary" %>
<% end %>

<%= link_to 'Finish', root_path %>
