@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Components */
@import '../components/PhoneNumberField/style';
@import '../components/DatePickerField/style';
@import '../components/ButtonTout/style';
@import '../components/UpdateCreditCardForm/style';
