@import 'base/globals';

#card-errors {
  font-size: 80%;
  color: #fa755a;
  margin-bottom: 0.5rem;;
}

.input-field,
.StripeElement {
  box-sizing: border-box;
  height: 2.5rem;
  padding: 0.625rem 0.75rem;
  border: 0.0625rem solid transparent;
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: 0 0.0625rem 0.1875rem 0 #e6ebf1;
  transition: box-shadow 150ms ease;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 16px;
}
.input-field:focus,
.StripeElement--focus {
  box-shadow: 0 0.0625rem 0.1875rem 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.g-recaptcha {
  margin-bottom: 1rem;
}
