@import 'base/globals';

#card-errors,
#captcha-errors {
  font-size: 80%;
  color: #fa755a;
  margin-bottom: 0.5rem;
}

.form-row {
  margin-bottom: 1rem;
}

.input-field,
.StripeElement {
  box-sizing: border-box;
  padding: 0.625rem 0.75rem;
  border: 0.0625rem solid transparent;
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: 0 0.0625rem 0.1875rem 0 #cfd7df;
  transition: box-shadow 150ms ease;
  width: 100%;
  font-size: 16px;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.profile-container {
  // , .edit-card {
  input input {
    border: none;
    border-radius: 0;
  }
  .react-date-picker__wrapper {
    background: rgba(91, 203, 181, 0.1);
    border: 1px solid #219653;
    box-sizing: border-box;
    border-radius: 6px;
    input {
      border: none;
      border-radius: 0;
    }
  }
  .react-date-picker__wrapper {
    width: 68%;
    min-width: 150px;
  }
}
