nav {
  .sidebar-item {
    color: rgb(67, 67, 67);
    box-shadow: 1px 1px 3px rgba(34, 34, 34, 0.2);
    &.current-path {
      background: #434343;
      color: #ffffff;
      svg path {
        fill: #ffffff;
      }
    }
  }
}

.mobile-nav-container {
  margin-top: -0.1rem;
  .sidebar-item {
    height: 5.5rem;
    box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.2);
    svg {
      margin: 1rem 0 0.5rem;
      height: 100%;
      width: 35%;
    }
    &:nth-child(1) svg {
      max-width: 3.75rem;
      width: 53%;
    }
  }
}
