#admin-views {
  main {
    padding: 24px;
    flex-grow: 1;
    padding-top: 64px;

    @media (min-width: 600px) {
      padding-left: 240px;
    }
  }

  .content {
    padding: 20px 6px;

    @media (min-width: 600px) {
      padding: 20px;
    }
  }
}

.capitalized {
  text-transform: capitalize;
}
