@import 'base/globals';

#checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;

  > .content {
    display: flex;
    margin: 0 auto;
    max-width: 80rem;
    padding: 2rem 1rem;
    flex-direction: column;

    @media screen and (min-width: 48rem) {
      flex-direction: row;
    }

    section {
      flex: 1;
      justify-content: start;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }
  }

  .form-row {
    label {
      margin-bottom: 1rem;
    }

    .input-field {
      margin-bottom: 1rem;
    }
  }
}

#payment-form {
  width: 100%;
}
