// Foundation Emails variables https://get.foundation/emails/docs/global.html#sass-variables
$light-gray: #F7F7F7;
$global-font-color: #757575;
$header-color: #000000;
$body-background: #FFFFFF;
@import "foundation-emails";
