/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
@import 'base/globals';

#plans {
  background: linear-gradient(rgba($primary-color, 0.3), rgba($secondary-color, 0.01));
}

#money {
  // background: red;
}

#cause {
  // background: blue;
}

#money,
#cause {
  > .content {
    @media(min-width: 48rem) {
      max-width: 50%;
    }
  }

  ul {
    font-weight: bold;
    font-size: 100%;
  }
}

#homepage {

  h1,
  h4 {
    text-align: center
  }

  > section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;

    @media (min-width: 48rem) {
      padding: 2rem 5rem;
    }
  }

  .subscription {

    &--plans {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0 auto;
      flex-wrap: wrap;

      @media (min-width: 80rem) {
        flex-wrap: nowrap;
      }
    }

    &--plan {
      min-width: 18rem;
      max-width: 24rem;
      flex: 1;
      margin: 1rem 2rem;
      background: white;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      padding: 1rem;

      h3 {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }

    &--plan-price {
      span {
        font-size: 60%;
      }
    }
  }

  .retail {
    &--products {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 2rem auto;
      flex-wrap: wrap;

      @media (min-width: 80rem) {
        flex-wrap: nowrap;
      }
    }

    &--product {
      min-width: 18rem;
      max-width: 24rem;
      flex: 1;
      margin: 1rem 2rem;
      background: $primary-color;
      border: 1px solid $secondary-color;
      border-radius: 5px;

      img {
        display: block;
        width: 100%;
      }
    }
  }
}
