.notice--subscription {
  padding: 1rem;
  background-color: #4caf50;
  color: #ffffff;
  margin: 0 0 1rem;
  border-radius: 0.2rem;
  box-shadow: 0px 0.0625rem 0.1875rem 0px rgba(0,0,0,0.2),
              0px 0.0625rem 0.0625rem 0px rgba(0,0,0,0.14),
              0px .125rem 0.0625rem -0.0625rem rgba(0,0,0,0.12);
}
